/* * {
    border: 1px solid pink;
} */
#actualScore, #chooseWeapon, #infoAboutWinner, footer {
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #ff33cc;
    font-family: 'Courier New', monospace;
    
}
#scoreBoard{
    display: flex;
    color: white;
    padding: 1em 1em 2em 1em;
    justify-content: center;
    text-align: center;
    gap: 3em;
    font-size: 2em;
    flex-wrap: wrap;
}
#chooseWeapon {
    display: flex;
    gap: 2em;
}
#chooseWeapon button {
    height: 7em;
    width: 7em;
    background: #3399ff;
    border:0;
    color: white;
}
#chooseWeapon button:active {
    background: #0073e6;
}
#chooseWeapon button i{
    font-size: 4em;
}
#infoAboutWinner {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3em 0 3em 0;
    gap: 2em;
}
#whoWon {
    font-size: 1.5em;
    text-align: center;
}
.restartButton{
    display: none;
    height: 6em;
    width: 10em;
    font-weight: bold;
    background: #3399ff;
    border: 0;
    color: white;
}
.restartButton:active {
    background: #0073e6;
}
/* footer {
    display: flex;
    color: white;
    height: 100px;
    font-weight: bold;;
} */