/* * {
    border: 1px solid pink;
} */
#actualScore, #chooseWeapon, #infoAboutWinner, footer {
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: navy;
}
#scoreBoard{
    display: flex;
    color: white;
    padding: 2em 1em 2em 1em;
    justify-content: center;
    text-align: center;
    gap: 3em;
    font-size: 2em;
    flex-wrap: wrap;
}

#chooseWeapon {
    display: flex;
    gap: 2em;
}
#chooseWeapon button {
    height: 8em;
    width: 8em;
}
#infoAboutWinner {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5em 0 3em 0;
    gap: 2em;
}
#whoWon {
    font-size: 1.5em;
}
.restartButton{
    display: none;
}
footer {
    display: flex;
    color: white;
    height: 100px;
    font-weight: bold;;
}